@tailwind base;
@tailwind components;
@tailwind utilities;

.link-card {
  @apply block px-6 py-2 border border-gray-600 rounded-lg duration-300;
}

.samplegen-logo-animation {
  background: linear-gradient(90deg, #66adff, #9868BF, #66adff); /* Add a third color stop to make the gradient flow smoothly */
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 6s infinite linear; /* Increase duration for smoother flow */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%; /* Loop back to the starting position */
  }
}

.bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #bd4faf, #5794db, #bd4faf, #5794db);
  background-size: 300% 100%;
}
.mechwasteland-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #195DEE, #B0ABDE, #195DEE);
  background-size: 300% 100%;
}
.samplegen-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, black, #9868BF, black);
  background-size: 300% 100%;
}
.galaxy-phonk-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #2E5B70, #E59C2D, #2E5B70, #E59C2D);
  background-size: 300% 100%;
}
.tbsb-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #121A27, #FBD8A4, #121A27, #FBD8A4);
  background-size: 300% 100%;
}
.spotify-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #090909, #1ED760, #090909, #1ED760);
  background-size: 300% 100%;
}
.apple-music-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #aeaeae, #FA2B43, #ffffff, #FA2B43);
  background-size: 300% 100%;
}
.instagram-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #aeaeae, #C62F94, #aeaeae, #C62F94);
  background-size: 300% 100%;
}
.facebook-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #aeaeae, #0866FF, #aeaeae, #0866FF);
  background-size: 300% 100%;
}
.youtube-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #aeaeae, #CE1312, #ffffff, #CE1312);
  background-size: 300% 100%;
}
.soundcloud-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #aeaeae, #FF5500, #aeaeae, #FF5500);
  background-size: 300% 100%;
}
.instagram-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #C62F94);
}
.facebook-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #0866FF);
}
.soundcloud-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #FF5500);
}
.youtube-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #CE1312);
}
.hover-animation:hover {
  filter: hue-rotate(60deg) drop-shadow(4px 4px 10px blue);
}
.samplegen-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #9868BF);
}
.gp-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #E59C2D);
}
.mw-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #195DEE);
}
.tbsb-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #FBD8A4);
}
.spotify-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #1ED760);
}
.am-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 15px #FA2B43);
}
.wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.ring-effect {
  position: relative;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring-effect i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring-effect i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring-effect i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring-effect i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring-effect i:nth-child(4) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 15s linear infinite;
}
/* .ring-effect:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
} */
.ring-effect i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
canvas {
    position: fixed; /* Fixed so that it stays in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it is behind the main content */
}