@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #bd4faf, #5794db, #bd4faf, #5794db);
  background-size: 300% 100%;
}
.hover-animation:hover {
  filter: hue-rotate(60deg) drop-shadow(4px 4px 10px blue);
}
.wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.ring-effect {
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring-effect i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring-effect i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring-effect i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring-effect i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring-effect i:nth-child(4) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 15s linear infinite;
}
/* .ring-effect:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
} */
.ring-effect i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}