@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #bd4faf, #5794db, #bd4faf, #5794db);
  background-size: 300% 100%;
}
.galaxy-phonk-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #2E5B70, #E59C2D, #2E5B70, #E59C2D);
  background-size: 300% 100%;
}
.tbsb-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #121A27, #FBD8A4, #121A27, #FBD8A4);
  background-size: 300% 100%;
}
.spotify-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #090909, #1ED760, #090909, #1ED760);
  background-size: 300% 100%;
}
.apple-music-bg-button-animation {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(90deg, #aeaeae, #FA2B43, #ffffff, #FA2B43);
  background-size: 300% 100%;
}
.hover-animation:hover {
  filter: hue-rotate(60deg) drop-shadow(4px 4px 10px blue);
}
.gp-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 10px #E59C2D);
}
.tbsb-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 10px #FBD8A4);
}
.spotify-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 10px #1ED760);
}
.am-hover-animation:hover {
  filter: hue-rotate(10deg) drop-shadow(4px 4px 10px #FA2B43);
}
.wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.ring-effect {
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring-effect i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring-effect i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring-effect i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring-effect i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring-effect i:nth-child(4) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 15s linear infinite;
}
/* .ring-effect:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
} */
.ring-effect i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}